<div class="card mt-2">
    <div class="card-body">
        <div class="d-flex gap-2">
            <div>
                <app-vote (onDown)="down()" (onUp)="up()" [ups]="item.ups" [downs]="item.downs" [vote]="item.vote"></app-vote>
            </div>
            <div class="flex-grow-1">
                <div class="d-flex gap-3 content align-items-center">
                    <a class="fw-bold text-black text-decoration-none"
                        [routerLink]="['/r', forumId, 'p', item?.id]">{{item?.title}}</a>
                </div>
                <div class="d-flex gap-2 meta">
                    <a [routerLink]="['/r', forumId]" class="text-black fw-bold hover">{{item?.forum?.name}}</a>

                    <span class="text-black-50">Posted by <a href="#"
                            class="hover text-black-50">{{item?.postedBy?.name}}</a> {{item?.createdOn |
                        timeAgo}}</span>
                </div>
                <div class="mt-2">
                    <markdown ngPreserveWhitespaces [data]="item?.text"></markdown>

                    <div class="mt-2 d-flex gap-2">
                        <button class="btn btn-sm btn-light" (click)="editPost()">
                            <i class="fa-regular fa-pen-to-square"></i>
                            Edit
                        </button>

                        <button class="btn btn-sm btn-light" (click)="confirmRemove()">
                            <i class="fa-solid fa-xmark"></i>
                            Remove
                        </button>

                        <button class="btn btn-sm btn-light" (click)="confirmSpam()" *ngIf="item?.canReport">
                            <i class="fa-regular fa-calendar-xmark"></i>
                            Spam
                        </button>

                        <button class="btn btn-sm btn-light" (click)="confirmReport()" *ngIf="item?.canReport">
                            <i class="far fa-flag"></i>
                            Report
                        </button>
                    </div>

                    <textarea class="form-control form-control-sm mt-2" style="max-width: 600px; height: 200px;"
                        [(ngModel)]="commentText" placeholder="What are your thoughts?"></textarea>

                    <button class="btn btn-sm btn-primary mt-2" [disabled]="isCommenting || !commentText" (click)="comment()">
                        Comment

                        <i class="fa fa-spin fa-spinner" *ngIf="isCommenting"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card mt-2">
    <div class="card-body">
        <div class="ms-2 me-2 mb-2">
            <div class="dropdown">
                <button class="btn btn-sm btn-light dropdown-toggle ts-4" type="button" data-bs-toggle="dropdown">
                    Sort By:
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Top</a></li>
                    <li><a class="dropdown-item" href="#">Newest</a></li>
                    <li><a class="dropdown-item" href="#">Best</a></li>
                    <li><a class="dropdown-item" href="#">Oldest</a></li>
                </ul>
            </div>
        </div>

        <app-forum-post-comments *ngIf="item" [depth]="0" [list]="comments" [forumId]="forumId" [postId]="item!.id">
        </app-forum-post-comments>
    </div>
</div>

<app-confirm-modal [showConfirm]="showRemoveModal" (onCancel)="showRemoveModal = false"
    (onConfirm)="showRemoveModal = false">
    Are you sure you want to remove this post?
</app-confirm-modal>

<app-confirm-modal [showConfirm]="showSpamModal" (onCancel)="showSpamModal = false" (onConfirm)="spam()"
    [showActive]="isReporting" [disableButtons]="isReporting">
    Are you sure you want to mark this post as spam?
</app-confirm-modal>

<app-confirm-modal [showConfirm]="showReportModal" (onCancel)="showReportModal = false" (onConfirm)="report()"
    [showActive]="isReporting" [disableButtons]="isReporting">
    <p>Are you sure you want to report this post?</p>
    <div>
        <select class="form-control form-control-sm" [(ngModel)]="selectedReportReasonId">
            <option *ngFor="let rule of reportingReasons" [value]="rule.id">{{rule.label}}</option>
        </select>
        <div class="form-text">Specifying a reason helps us evaluate if this post should be removed.</div>
    </div>
</app-confirm-modal>

<app-post-edit [forumId]="forumId" [postId]="item?.id" [showPost]="showPostModal"
    (onCancel)="showPostModal = false; postId = 0;" (onPost)="reload()"></app-post-edit>