<div class="d-flex gap-2">
    <div class="d-flex gap-1">
        <ng-content></ng-content>
    </div>
    <div class="flex-grow-1">
        <div class="d-flex gap-3 content align-items-center">
            <a class="fw-bold text-black text-decoration-none"
                [routerLink]="['/r', forumId, 'p', item?.id]">{{item?.title}}</a>
            <a href="#" class="hover">www.yahoo.com <i class="fas fa-external-link-alt"></i></a>
        </div>
        <div class="d-flex gap-2 meta">
            <a [routerLink]="['/r', forumId]" class="text-black fw-bold hover">{{item?.forum?.name}}</a>

            <span class="text-black-50">Posted by <a href="#" class="hover text-black-50">{{item?.postedBy?.name}}</a>
                {{item?.createdOn | timeAgo}}</span>
        </div>
        <div class="d-flex gap-2 flex-wrap">
            <span class="badge bg-secondary rounded-pill" *ngFor="let reason of reasons">{{reason}}</span>
        </div>
    </div>
</div>