<div class="mb-2 input-group input-group-sm">
    <input type="text" class="form-control" [(ngModel)]="query">
    <button class="btn btn-outline-secondary" type="button" (click)="select()">
        <i class="fa fa-plus"></i>
    </button>
</div>

<div class="form-control form-control-sm no-height d-flex gap-1 flex-wrap mt-1 align-items-center">
    <p class="mx-auto p-0 m-0 ts-4" *ngIf="selectedItems.length === 0">{{emptyMessage}}</p>

    <div class="d-flex gap-2 flex-wrap">
        <span *ngFor="let item of selectedItems; let i = index;" class="badge bg-secondary rounded-pill d-flex gap-1 align-items-center">
            <span class="mr-1">{{item}}</span>
            <i class="fa fa-times" (click)="remove(i)"></i>
        </span>
    </div>
</div>