<app-modal [showModal]="show" [showSmall]="true">
    <ng-template #content>
        <div class="mb-2">
            <input type="password" class="form-control form-control-sm" placeholder="current password" [(ngModel)]="entity.oldPassword"
                [class.is-invalid]="errors['OldPassword']">
            <app-control-validation-errors [errors]="errors" fieldName="OldPassword"></app-control-validation-errors>
        </div>
        <div class="mb-2">
            <input type="password" class="form-control form-control-sm" placeholder="new password"
                [(ngModel)]="entity.password" [class.is-invalid]="errors['Password']">
            <app-control-validation-errors [errors]="errors" fieldName="Password"></app-control-validation-errors>
        </div>
        <div class="mb-2">
            <input type="password" class="form-control form-control-sm" placeholder="confirm new password"
                [(ngModel)]="entity.confirmPassword" [class.is-invalid]="errors['ConfirmPassword']">
            <app-control-validation-errors [errors]="errors" fieldName="ConfirmPassword"></app-control-validation-errors>
        </div>
    </ng-template>

    <ng-template #actions>
        <div class="d-flex gap-2 justify-content-between w-100">
            <button class="btn btn-sm btn-light" (click)="cancel()" [disabled]="isSaving">
                Cancel
            </button>
            <button class="btn btn-sm btn-primary" (click)="update()" [disabled]="hasInvalidData || isSaving">
                Change

                <i class="fa fa-spin fa-spinner" *ngIf="isSaving"></i>
            </button>
        </div>
    </ng-template>
</app-modal>