/* You can add global styles to this file, and also import other style files */

body {
    padding: 0;
    margin: 0;
    background-color: #e6f0fe;
    font-family: 'Open Sans', sans-serif;
}

a.hover {
    text-decoration: none;
}

a.hover:hover {
    text-decoration: underline;
}

.dropdown-menu>li {
    padding: 0;

}

.dropdown-item {
    font-size: .8em;
}

.card {
    font-size: .8em;
    border: 1px solid #ddd;

    >.card-body {
        padding: .5rem;
    }
}

.markdown {
    >p {
        padding: 0;
        margin: 0;
        margin-bottom: .2rem;

        &:last-child {
            margin-bottom: .1rem;
        }
    }
}

.btn-group-xs>.btn,
.btn-xs {
    padding: .10rem .2rem;
    font-size: .875rem;
    line-height: .4;
    border-radius: .2rem;
}

.ts-1 {
   font-size: 1rem; 
}

.ts-2 {
    font-size: .9rem; 
} 

.ts-3 {
    font-size: .8rem; 
} 

.ts-4 {
    font-size: .75rem; 
} 

.ts-5 {
    font-size: .65rem; 
} 

.nav-menu > a {
    padding: .25rem;
    padding-left: .45rem;
    padding-right: .45rem;
    border: 0;
    border-left: 2px solid transparent;

    &.active {
        border-left: 2px solid red;
    }
}