

<div class="d-flex gap-2 flex-column">

    <div class="card">
        <div class="card-body d-flex gap-2">
            <a class="btn btn-sm" [class.btn-primary]="sortBy === 'hot'" [class.btn-outline-primary]="sortBy !== 'hot'" [routerLink]="['/r', id]" [queryParams]="{ sort: 'hot' }">
                <i class="fab fa-hotjar"></i>
                Hot
            </a>
    
            <a class="btn btn-sm" [class.btn-primary]="sortBy === 'new'" [class.btn-outline-primary]="sortBy !== 'new'" [routerLink]="['/r', id]" [queryParams]="{ sort: 'new' }">
                <i class="far fa-clock"></i>
                New
            </a>
    
            <a class="btn btn-sm" [class.btn-primary]="sortBy === 'top'" [class.btn-outline-primary]="sortBy !== 'top'" [routerLink]="['/r', id]" [queryParams]="{ sort: 'top' }">
                <i class="fas fa-level-up-alt"></i>
                Top
            </a>
    
            <a class="btn btn-sm" [class.btn-primary]="sortBy === 'rising'" [class.btn-outline-primary]="sortBy !== 'rising'" [routerLink]="['/r', id]" [queryParams]="{ sort: 'rising' }">
                <i class="fas fa-chart-line"></i>
                Rising
            </a>
        </div>
    </div>

    <div class="flex-grow-1 text-center" *ngIf="isLoading">
        <i class="fa fa-spin fa-spinner fa-2x"></i>
    </div>

    <div class="flex-grow-1" *ngIf="!isLoading">
        <app-post-list [list]="list">

        </app-post-list>
    </div>

</div>