<div class="mb-2 d-flex gap-2" style="margin-left: 20px;" *ngIf="!item?.isDeleted">

    <div>
        <img class="rounded-circle" style="max-width: 2em; object-fit: contain;" src="https://i.pravatar.cc/100">
    </div>

    <div>
        <div class="d-flex gap-2">
            <a class="text-black hover" routerLink="['/u', item.postedBy?.id]">{{item.postedBy?.name}}</a>
            <span>{{item.createdOn | timeAgo}}</span>
        </div>

        <div>
            <markdown *ngIf="showEdit === false" ngPreserveWhitespaces class="markdown" [data]="item.text"></markdown>

            <div *ngIf="showEdit">
                <textarea class="form-control form-control-sm mb-1" style="max-width: 600px; height: 100px;"
                    placeholder="What are your thoughts?" [(ngModel)]="editText"></textarea>
                <div class="d-flex gap-1">
                    <button class="btn btn-sm btn-light" (click)="showEdit = false"
                        [disabled]="isEditing">Cancel</button>
                    <button class="btn btn-sm btn-primary" (click)="update()" [disabled]="isEditing || !editText">
                        Save

                        <i class="fa fa-spin fa-spinner" *ngIf="isEditing"></i>
                    </button>
                </div>
            </div>

            <div class="d-flex gap-2 align-items-center">
                <div>
                    <app-vote (onDown)="down()" (onUp)="up()" [ups]="item?.ups" [downs]="item?.downs"
                        [vote]="item?.vote"></app-vote>
                </div>

                <button class="btn btn-sm btn-light d-flex gap-2 align-items-center" (click)="showReply = !showReply"
                    *ngIf="isAuthenticated">
                    <i class="far fa-comment-alt"></i>
                    <span>Reply</span>
                </button>

                <button class="btn btn-sm btn-light" (click)="edit()" *ngIf="item.canEdit">
                    <i class="fa-regular fa-pen-to-square"></i>
                    Edit
                </button>

                <button class="btn btn-sm btn-light" (click)="confirmRemove()" *ngIf="item.canEdit">
                    <i class="fa-solid fa-xmark"></i>
                    Remove
                </button>

                <button class="btn btn-sm btn-light" (click)="confirmSpam()" *ngIf="item?.canReport">
                    <i class="fa-regular fa-calendar-xmark"></i>
                    Spam
                </button>

                <button class="btn btn-sm btn-light" (click)="confirmReport()" *ngIf="item?.canReport">
                    <i class="far fa-flag"></i>
                    Report
                </button>
            </div>

            <div class="mt-2" *ngIf="showReply">
                <textarea class="form-control form-control-sm mb-1" style="max-width: 600px; height: 100px;"
                    placeholder="What are your thoughts?" [(ngModel)]="replyText"></textarea>
                <div class="d-flex gap-1">
                    <button class="btn btn-sm btn-light" (click)="showReply = false"
                        [disabled]="isReplying">Cancel</button>
                    <button class="btn btn-sm btn-primary" (click)="reply()" [disabled]="isReplying || !replyText">
                        Reply

                        <i class="fa fa-spin fa-spinner" *ngIf="isReplying"></i>
                    </button>
                </div>
            </div>

            <div class="mt-0">
                <a class="btn btn-sm btn-link hover" (click)="getReplies()">
                    <span *ngIf="item.replyCount === 0">no</span>
                    <span *ngIf="item.replyCount > 0">{{item.replyCount}}</span>
                    replies
                </a>

                <app-forum-post-comments [depth]="depth + 1" [forumId]="forumId" [postId]="postId" [list]="replies">
                </app-forum-post-comments>
            </div>
        </div>
    </div>

</div>

<app-confirm-modal [showConfirm]="showRemoveModal" (onCancel)="showRemoveModal = false" (onConfirm)="remove()"
    [showActive]="isRemoving" [disableButtons]="isRemoving">
    Are you sure you want to remove this comment?
</app-confirm-modal>

<app-confirm-modal [showConfirm]="showSpamModal" (onCancel)="showSpamModal = false" (onConfirm)="spam()"
    [showActive]="isReporting" [disableButtons]="isReporting">
    Are you sure you want to mark this comment as spam?
</app-confirm-modal>

<app-confirm-modal [showConfirm]="showReportModal" (onCancel)="showReportModal = false" (onConfirm)="report()"
    [showActive]="isReporting" [disableButtons]="isReporting  || !selectedReportReasonId">
    <p>Are you sure you want to report this post?</p>
    <div>
        <select class="form-control form-control-sm" [(ngModel)]="selectedReportReasonId">
            <option *ngFor="let rule of reportingReasons" [value]="rule.id">{{rule.label}}</option>
        </select>
        <div class="form-text">Specifying a reason helps us evaluate if this comment should be removed.</div>
    </div>
</app-confirm-modal>