<div class="modal" aria-modal="true" role="dialog" *ngIf="showModal" [class.show]="showModal">
    <div class="modal-dialog" [class.modal-lg]="showLarge" [class.modal-sm]="showSmall">
        <div class="modal-content">
            <div class="modal-header" *ngIf="header">
                <h4 class="modal-title">{{header}}</h4>
            </div>
            <div class="modal-body" #modelBody (scroll)="onScroll()">
                <ng-container [ngTemplateOutlet]="contentTemplateRef">
                </ng-container>
            </div>
            <div class="modal-footer justify-content-between">
                <ng-container [ngTemplateOutlet]="actionTemplateRef">
                </ng-container>
            </div>
        </div>
    </div>
</div>