<div class="bg-danger" style="height: 80px; margin-left: -12px; margin-right: -12px;">

</div>

<div class="d-flex gap-2 align-items-center bg-light border-bottom p-2">
    <div>
        <img class="logo" src="https://placeholder.pics/svg/300">
    </div>
    <div>
        <h4 class="p-0 m-0">Subreddit name</h4>
        <a class="text-black-50 text-decoration-none" [routerLink]="['/r', 1]">/r/subreddit</a>
    </div>
    <div>
        <button class="btn btn-sm btn-primary">Join</button>
    </div>
</div>

<router-outlet></router-outlet>