<div class="bg-danger" style="height: 80px; margin-left: -12px; margin-right: -12px;">

</div>

<div class="d-flex gap-2 align-items-center bg-light border-bottom p-2">
    <div>
        <img class="logo" src="https://placeholder.pics/svg/300">
    </div>
    <div>
        <h4 class="p-0 m-0">{{forum?.name}}</h4>
        <a class="text-black-50 text-decoration-none" [routerLink]="['/r', id]">/r/{{forum?.slug}}</a>
    </div>
    <div>
        <button class="btn btn-sm btn-primary">Join</button>
    </div>
</div>

<div class="d-flex gap-2 mt-2">

    <div class="flex-grow-1">
        <router-outlet></router-outlet>
    </div>

    <div class="d-flex flex-column d-none d-sm-block" style="width: 250px;">
        <div class="card mb-2">
            <div class="card-header d-flex gap-2 justify-content-between align-items-center">
                <span>About Community</span>
                <div class="dropdown">
                    <button class="btn btn-xs btn-light" type="button" data-bs-toggle="dropdown">
                        <i class="fas fa-ellipsis-h"></i>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" [routerLink]="['/r', id, 'edit']">Edit</a></li>
                        <li><a class="dropdown-item" [routerLink]="['/r', id, 'settings']">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Remove</a></li>
                    </ul>
                </div>
            </div>
            <div class="card-body">
                <p>Things that make you go AWW! Like puppies, bunnies, babies, and so on... A place for really cute
                    pictures and videos!</p>
                <div class="d-flex gap-2 justify-content-around">
                    <div>
                        <div>31m</div>
                        <div>members</div>
                    </div>
                    <div>
                        <div>27.6k</div>
                        <div>online</div>
                    </div>
                </div>
                <p class="mt-2">Created Jan 25, 2008</p>
                <div class="d-grid gap-2 mt-2 mb-2">
                    <button class="btn btn-sm btn-primary" (click)="createPost()">Create Post</button>
                </div>
                <div *ngIf="forum.topics.length > 0">
                    Topics:
                    <div class="d-flex gap-2 flex-wrap">
                        <span class="badge bg-secondary rounded-pill" *ngFor="let topic of forum?.topics">{{topic.name}}</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card mb-2">
            <div class="card-header">
                Related Communities
            </div>
            <div class="card-body">
                <div class="d-flex gap-2" *ngFor="let r of [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                    <div><img class="rounded-circle" style="max-width: 2em; object-fit: contain;"
                            src="https://i.pravatar.cc/100"></div>
                    <div class="d-flex flex-column flex-grow-1">
                        <a href="#" class="text-black hover ts-4 fw-bold">/r/aww</a>
                        <span class="text-muted  ts-4">2k members</span>
                    </div>
                    <div>
                        <button class="btn btn-sm btn-primary">Join</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<app-post-edit [forumId]="id" [postId]="0" [showPost]="showPostModal" (onCancel)="showPostModal = false"
    (onPost)="showPostModal = false"></app-post-edit>