<div class="card mt-2">
    <div class="card-body d-flex gap-2 align-items-center">
        <a class="btn btn-sm" [class.btn-primary]="sortBy === 'hot'" [class.btn-outline-primary]="sortBy !== 'hot'" [routerLink]="['/popular']" [queryParams]="{ sort: 'hot' }">
            <i class="fab fa-hotjar"></i>
            Hot
        </a>

        <a class="btn btn-sm" [class.btn-primary]="sortBy === 'new'" [class.btn-outline-primary]="sortBy !== 'new'" [routerLink]="['/popular']" [queryParams]="{ sort: 'new' }">
            <i class="far fa-clock"></i>
            New
        </a>

        <a class="btn btn-sm" [class.btn-primary]="sortBy === 'top'" [class.btn-outline-primary]="sortBy !== 'top'" [routerLink]="['/popular']" [queryParams]="{ sort: 'top' }">
            <i class="fas fa-level-up-alt"></i>
            Top
        </a>

        <a class="btn btn-sm" [class.btn-primary]="sortBy === 'rising'" [class.btn-outline-primary]="sortBy !== 'rising'" [routerLink]="['/popular']" [queryParams]="{ sort: 'rising' }">
            <i class="fas fa-chart-line"></i>
            Rising
        </a>
    </div>
</div>

<div class="d-flex gap-2 mt-2">
    <div class="flex-grow-1 text-center" *ngIf="isLoading">
        <i class="fa fa-spin fa-spinner fa-2x"></i>
    </div>

    <div class="flex-grow-1" *ngIf="!isLoading">
        <app-post-list [list]="list" [showForum]="true">

        </app-post-list>
    </div>
    <div class="d-flex flex-column d-none d-sm-block gap-2" style="width: 250px;">
        <app-popular-forums></app-popular-forums>
    </div>
</div>