<app-modal [showModal]="showConfirm">
    <ng-template #content>
        <ng-content></ng-content>
    </ng-template>

    <ng-template #actions>
        <div class="d-flex gap-2 justify-content-between w-100">
            <button class="btn btn-sm btn-light" (click)="cancel()" [disabled]="disableButtons">
                Cancel
            </button>
            <button class="btn btn-sm btn-primary" (click)="confirm()"  [disabled]="disableButtons">
                Confirm

                <i class="fa fa-spin fa-spinner" *ngIf="showActive"></i>
            </button>
        </div>
    </ng-template>
</app-modal>